
<h2>Hola soy la pagina de index</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores odit est sapiente, sequi pariatur eum obcaecati vitae, blanditiis
     necessitatibus quisquam sunt excepturi minus debitis voluptas voluptatem iure, quaerat fuga atque?</p>
